:root{
    --arrow-color: rgba(255,255,255,0.4);
}

.slideshow{
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideshow__image{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    object-fit: cover;
    object-position: 0 100%;
    transition: all 250ms ease-out;
}

.slideshow__arrows{
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    top: calc(50% - 1rem);
    font-size: 14rem;
}

/* css states */
.slideshow__image.slideshow__image--active{
    opacity: 1;
}
.slideshow__image.slideshow__image--previous{
    transform: translateX(-100%);
    opacity: 1;
}
.slideshow__image.slideshow__image--next{
    transform: translateX(+100%);
    opacity: 1;
}

.slideshow__arrows .fa-angle-left{
    position: absolute;
    left: 0;
    color:var(--arrow-color);
}

.slideshow__arrows .fa-angle-right{
    position: absolute;
    right: 0;
    color:var(--arrow-color);
}

.slideshow__arrows .fa-angle-left:hover,
.slideshow__arrows .fa-angle-right:hover{
    color: white;
}